<style>
table {
    border-collapse: collapse;
    width: 100%;
}
tr {
  border-bottom: 1px solid #ccc;
}
td {
  vertical-align: top;
  border-right: 1px solid #ccc;
}
ul {
  list-style: none;
  padding: 5px;
  margin: 0;
  text-align: left;
  list-style-position: inside;
}

</style>


<h1>FTLabs: comparing friends and friends of friends of {{entityPair}} (who are {{relationship}})</h1>


<table>
  <tr>
    <td colspan="2">friends</td>
    <td colspan="3">friends of friends</td>
  </tr>
  <tr>
    <td>shared</td>
    <td>unshared</td>
    <td>via unshared friends</td>
    <td>via shared friends</td>
    <td>unshared</td>
  </tr>
  <tr>
    <td>
      <ul>
        {{#each overlappingChains.overlaps.friends.shared}}
          <li><a href="/calcChainLengthsFrom/{{this}}">{{this}}</a></li>
        {{/each}}
      </ul>
    </td>

    <td>
      {{#each overlappingChains.overlaps.friends.unshared}}
        <h3>{{@key}}</h3>
        <ul>
          {{#each this}}
            <li><a href="/calcChainLengthsFrom/{{this}}">{{this}}</a></li>
          {{/each}}
        </ul>
      {{/each}}
    </td>

    <td>
      <ul>
        {{#each overlappingChains.overlaps.friendsOfFriends.sharedViaUnsharedFriends}}
          <li><a href="/calcChainLengthsFrom/{{this}}">{{this}}</a></li>
        {{/each}}
      </ul>
    </td>

    <td>
      <ul>
        {{#each overlappingChains.overlaps.friendsOfFriends.sharedViaSharedFriends}}
          <li><a href="/calcChainLengthsFrom/{{this}}">{{this}}</a></li>
        {{/each}}
      </ul>
    </td>

    <td>
      {{#each overlappingChains.overlaps.friendsOfFriends.unshared}}
        <h3>{{@key}}</h3>
        <ul>
          {{#each this}}
            <li><a href="/calcChainLengthsFrom/{{this}}">{{this}}</a></li>
          {{/each}}
        </ul>
      {{/each}}
    </td>

  </tr>
</table>
